@font-face {
  font-family: Yekan Bakh FaNum;
  font-style: normal;
  font-weight: normal;
  src: url('fonts/woff/YekanBakhFaNum-Regular.woff') format('woff'),
    url('fonts/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Yekan Bakh FaNum;
  font-style: normal;
  font-weight: bold;
  src: url('fonts/woff/YekanBakhFaNum-Bold.woff') format('woff'),
    url('fonts/woff2/YekanBakhFaNum-Bold.woff2') format('woff2');
}